@media screen and (max-width:500px) {

   
   
    .contactphrase{
        margin-left: 7%;
        margin-top: 10%;
        margin-right: 19%;
    }
    body.contact main{
        display: block;
    }


   .Inputlocate {
    margin-top: 25%;
    margin-left: 17%;
    font-size: 100%;

}
}   