
@media screen and (max-width:500px){

    .Introduction{
     margin-top:70%;
     margin-left: -100;
     margin-right: -100%;
    }

    .Title{
        margin-top: -80%;
        margin-right:-160%;
        margin-left: 120%;
        
    }
}