@media screen and (max-width:500px){
.table1{
    
    margin-top: -3%;
    margin-left: 33%;
}
.table2{
    margin-top: 105%;
    margin-left: -78%;
}
.table3{
    margin-top: 211%;
    margin-left: -191%;
}
.table4{
    margin-top: -11%;
    margin-left: 31%;
}
.table5{
    margin-top: 93%;
    margin-left: -82%;
}
.table6{
    margin-top: 195%;
    margin-left: -193%;
}

img {
    width: 270px;
    height: 190px;
  }
}





