@media screen and (max-width:500px){
.table1{
    
    margin-top: -80%;
    margin-left: 80%;
}
.table2{
    margin-top:220%;
    margin-left: -40%;
}
.table3{
    margin-top: 490%;
    margin-left: -170%;
}
.table4{
    margin-top: -30%;
    margin-left: 100%;
}
.table5{
    margin-top: 240%;
    margin-left: -30%;
}
.table6{
    margin-top: 520%;
    margin-left: -160%;
}

img {
    width: 270px;
    height: 190px;
  }
}

