@media screen and (max-width:500px){
.table1{
    
    margin-top: -80%;
    margin-left: 80%;
}
.table2{
    margin-top:300%;
    margin-left: -40%;
}
.table3{
    margin-top: 700%;
    margin-left: -170%;
}
.table4{
    margin-top: -30%;
    margin-left: 100%;
}
.table5{
    margin-top: 340%;
    margin-left: -30%;
}
.table6{
    margin-top: 720%;
    margin-left: -160%;
}

img {
    width: 350px;
    height: auto;
  }
}

