p{
    color:rgb(0, 0, 0);
    font-size: 25px;
}
body{ 
    background-size: auto;
    display: grid;
    grid-template-columns: 20% 70% 20%;
    grid-template-rows: auto;
    grid-template-columns: hidden;
    grid-template-rows: hidden;
    grid-template-areas: "header header header"
                         "nav main aside"
                         "footer footer footer";}

header{
    color: rgb(255, 255, 255);
    padding: 20px;
    grid-area: header;
}
nav{
grid-area: nav;}