p {
    color: rgb(0, 0, 0);
    font-size: 25px;
}

body {
    background-size: auto;
    display: grid;
    grid-template-columns: 20% 70% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "nav main main"
                         "footer footer footer";
}

header {
    color: rgb(255, 255, 255);
    padding: 20px;
    grid-area: header;
}

nav {
    grid-area: nav;
}
.blog1{
    font-size: 20px;
}
.earlystage{
    font-size: 20px;
}
.blog3{
    font-size: 20px;
}

main h1 {
    color: white;
    font-size: 30px;

}
.Inputlocate {
    margin: 1%;
    margin-top: 40%;
    margin-left: -110%;
    font-size: 100%;

}


main p {
    color: white;
    font-size: 20px;
}


aside {
    background-color: rgb(182, 136, 136);
    grid-area: aside;
}

footer {
    color: rgb(241, 12, 12);
    grid-area: footer;
    font-size: 20px;
    display: inline;

}

li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 20px;
    text-align: center;
}

ul {
    list-style: none;
    width: 100px;
    padding: 0;
}


body {
    background-image: url('images/Background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.table {
    float: left;
    width: 40%;
    padding: 10px;
    height: 200px;
}



img {
    border-radius: 2px;
    padding: 1px;
    width: 400px;
    height: 300px;
}

form {
    display: inline-block;
    background-color: #333;
    background-color: transparent;


}

input {
    font-size: 100%;
    border: solid 1px;
}

.background {
    display: none;
}

body:not(.no-grid) main {
    display: grid;
    /* grid-template-columns: 35% 35% 35%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-area: main;
}

h2{
    color: white;
    
}
h3{
    color: white;
    
}
h4{
    color: white;
    
}
