p{
    color:rgb(0, 0, 0);
    font-size: 25px;
}
body{ 
    background-size: auto;
    display: grid;
    grid-template-columns: 20% 70% 20%;
    grid-template-rows: auto;
    grid-template-columns: hidden;
    grid-template-rows: hidden;
    grid-template-areas: "header header header"
                         "nav main aside"
                         "footer footer footer";}

header{
    color: rgb(255, 255, 255);
    padding: 20px;
    grid-area: header;
}
nav{
grid-area: nav;}

main{
    position: absolute;
    top: 20%;
    left:15%;
    right: 15%;
    color: rgb(255, 255, 255);
    grid-area: main;
}
main h1{
    color: white;
    font-size: 50px;

}
.Introduction{
    margin: 1%;
    margin-top: 40%;
    margin-left: -210%;
    font-size: 180%;
    
    
}
.Inputlocate{
    margin: 1%;
    margin-top: 40%;
    margin-left: -110%;
    font-size: 100%;

}


main p{
    color: white;
    font-size: 25px;
}


aside{background-color: rgb(255, 255, 255)
    transparent;
    
    
grid-area: aside;}

footer{
    
    color: rgb(241, 12, 12);
    grid-area: footer;
    font-size: 20px;
    display: inline;
   
}

li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-size-adjust: 105px;
    text-decoration: none;
    padding: 20px 20px;
    text-align: center;


    
    
}
ul{
  list-style: none;
  width: 100px;
  
  
}


body {
  background-image: url('images/Background2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav{font-size: 20px;
font-weight:bold;
text-transform: capitalize;}

.table{
    float: left;
    width: 40%;
    padding: 10px;
    height: 200px;
}

.image{
width: 300px;
float: left;
display: inline block;}

img {
    border-radius: 4px;
    padding: 2px;
    width: 400px;
    height: 400spx;
  }
.super{
width: 10%;
float: right;
display: inline block;

}
form{
    display: inline-block;
    background-color:#333;
    background-color: transparent;
    

}
input{
    font-size: 100%;
    border: solid 1px;
    
    
    
    
}